<!DOCTYPE html>
<html>
<head>
  <title>Froom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
	<%= link_to categories_path do %>
		<h1>Froom</h1>
	<% end %>
	<p class="kicker">Awesome Forum for Awesome People</p>
	<div class="links">
		<% if logged_in? %>
			<%= link_to 'Logout', logout_path, method: "delete", class: "button" %>
		<% else %>
			<%= link_to 'Login', new_session_path, class: "button" %>
			<%= link_to 'Register', new_user_path, class: "button" %>
		<% end %>
	</div>
</div>
<div class="notifications">
	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
</div>
<div class="main_content">
	<%= yield %>
</div>

</body>
</html>
